body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
	

}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

section {
	text-align: center;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#style_gris {
	color: darkgray;
	font-family:monospace;
	font-size:200%;
	text-transform: uppercase;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: #fff;
}
#style_ee {
	font-size:180%;
}